/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: Brice-bold;
  src: url(./Fonts/Brice-Bold.ttf);
}
@font-face {
  font-family: Brice-SemiBold;
  src: url(./Fonts/Brice-SemiBold.ttf);
}
@font-face {
  font-family: Brice-regular;
  src: url(./Fonts/Brice-Regular.ttf);
}
@font-face {
  font-family: Poppin-regular;
  src: url(./Fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f2ebe2;
  overflow: hidden;
}
/* loader------ */

.loader {
  width: 100%;
  height: 100%;
  background-image: url(./Assets/gradient-square.jpg);
  position: absolute;
  z-index: 999;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loader img {
  scale: 3;
  -webkit-animation: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
          animation: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
/* //----------------nav-top */
nav .dark-overlay {
  background-color: rgb(30, 30, 30);
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(30, 30, 30, 0.25)),
    color-stop(75%, rgba(30, 30, 30, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(30, 30, 30, 0.25) 0%,
    rgba(30, 30, 30, 1) 75%
  );
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 0.25) 0%,
    rgba(30, 30, 30, 1) 75%
  );
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s cubic;
  -o-transition: all 0.4s cubic;
  transition: all 0.4s cubic;
  pointer-events: all;
}
nav .nav-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 99;
}

.btn-nav .hamburger {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.btn-nav .hamburger .line {
  width: 100%;
  height: 0.166em;
  background-color: rgb(30, 30, 30);
  position: absolute;
  left: 0%;
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate(-0%, -0%) rotate(0.001deg);
      -ms-transform: translate(-0%, -0%) rotate(0.001deg);
          transform: translate(-0%, -0%) rotate(0.001deg);
  gap: 10px;
}
.btn-nav .hamburger .line1 {
  top: 20%;
}
.btn-nav .hamburger .line2 {
  top: 60%;
}

.btn-nav .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em 0 1em;
}
nav .nav-top * {
  pointer-events: all;
}
.btn-nav .click-btn {
  height: 3em;
  -webkit-transition: background-color 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transition: background-color 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}
.btn-nav .btn-text-inner span:nth-child(1) {
  -webkit-transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
  transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
  top: 30px;
  left: 20px;
}
.btn-nav .btn-text-inner span:nth-child(2) {
  position: relative;
  top: 60px;
  -webkit-transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
  transition: top.3s cubic-bezier(0.8, 0, 0.2, 1);
}

.btn-nav .btn-text-inner span {
  position: absolute;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}

.click-btn:hover .btn-text {
  color: #f2ebe2;
}
.click-btn:hover .hamburger .line {
  background-color: #f2ebe2;
}
nav .nav-overlay {
  position: fixed;
  width: 40vw;
  background-color: aqua;
  z-index: 99;
  left: 60%;
  top: 0;
  -webkit-transform: translateX(100%) rotate(0.001deg);
      -ms-transform: translateX(100%) rotate(0.001deg);
          transform: translateX(100%) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  border-radius: 70px 0 0 70px;
  overflow: hidden;
}
.nav-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7em;
  padding-left: 2em;
  gap: 1em;
}
.nav-language img {
  width: 50px;
}

nav .nav-mobile {
  position: relative;
  font-family: brice-bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
nav .nav-mobile li {
  list-style: none;
}
nav .nav-mobile .text-inner {
  color: rgb(30, 30, 30);
}
nav .nav-mobile .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vh 0;
}
nav .nav-mobile .text .text-inner,
nav .nav-mobile .text .arrow-inner {
  font-weight: 700;
  font-size: 4em;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-mobile .active {
  opacity: 0.6;
}
nav .nav-mobile .text .arrow {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-mobile .text .arrow .arrow-inner {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
nav .nav-mobile .text:hover .arrow-inner {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.text-inner sup {
  font-size: 0.5em;
}
nav .nav-mobile-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em 2.5em 2em;
  gap: 1em;
}
.btn-external .btn-click {
  height: 1.75em;
  background: var(--color-white);
  border-radius: 0.33em;
}
.btn-external .small {
  font-size: 1em;
  padding: 0 1.5em;
}
nav .nav-mobile-bottom p {
  position: absolute;
  right: 5%;
  margin: 0;
  font-family: "Poppin-regular";
}
section.main-wrap {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.text-inner .default-header {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(242, 235, 226);
  overflow: hidden;
}
.video-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #1e1e1e;
}
.video-wrapper {
  position: absolute;
  width: calc(100vw + 1px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  padding-bottom: 75%;
}
.video-background .video-wrapper iframe {
  height: 104%;
  width: calc(100% + 1px);
  position: absolute;
  top: -2%;
  left: 0;
  bottom: 0;
  pointer-events: none;
  vertical-align: middle;
}
img.overlay {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.video-placeholder.loaded {
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out 1s;
  -o-transition: opacity 3s ease-in-out 1s;
  transition: opacity 3s ease-in-out 1s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home-header .dark-gradient-overlay {
  opacity: 0.5;
}
.home-header .dark-overlay {
  background-color: rgba(0, 0, 0, 0.826);
}
.default-header.theme-dark {
  background-color: rgba(0, 0, 0, 0.826);
}
.default-header .dark-gradient-overlay {
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(30, 30, 30, 0.6)),
    color-stop(60%, rgba(30, 30, 30, 0)),
    to(rgba(30, 30, 30, 0.5))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(30, 30, 30, 0.6) 0%,
    rgba(30, 30, 30, 0) 60%,
    rgba(30, 30, 30, 0.5) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 0.6) 0%,
    rgba(30, 30, 30, 0) 60%,
    rgba(30, 30, 30, 0.5) 100%
  );
}
.overlay-round-corners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  -webkit-box-shadow: 0em 0em 0em calc(5.75em * 3) rgb(242, 235, 226);
          box-shadow: 0em 0em 0em calc(5.75em * 3) rgb(242, 235, 226);
}
.default-header .overlay-round-corners {
  border-radius: 0 0 calc(1.75em * 3) calc(1.75em * 3);
  z-index: 1;
}
.nav-relative {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nav-relative .flag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.nav-relative .flag img {
  width: 35px;
}

.nav-relative .futuregoal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}
.nav-relative .futuregoal img {
  height: 5em;
}
.futuregoals img svg path {
  fill: #fff;
}
.container {
  position: absolute;
  top: 25%;
  width: 100%;
  padding-left: 20em;
  padding-right: 20em;
  text-align: center;
}
.default-header .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  color: #f4ede4;
}
.flex-col {
  width: 100%;
  position: relative;
}
.flex-col h1 {
  font-family: Brice-bold;
  font-weight: 700;
  font-size: 9em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  padding-top: 5%;
}
.initiated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.initiated h5 {
  font-family: Brice-regular;
}
.initiated img {
  width: 13em;
  margin-left: 1em;
}

.theme-light {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 9;
  background-color: rgb(242, 235, 226);
}
.theme-light .container {
  margin: 0 auto;
  padding-left: 10em;
  padding-right: 10em;
}
.gradient-video .gradient-block {
  -webkit-transform: translateY(calc(60em * -0.4));
      -ms-transform: translateY(calc(60em * -0.4));
          transform: translateY(calc(60em * -0.4));
  width: 100%;
  border-radius: calc(1.85em * 2);
  background-size: cover;
  padding: calc(15em * 0.75) calc(15em * 0.75);
  overflow: hidden;
  position: relative;
  z-index: 9;
}
.overlay-gradient {
  width: 200%;
  height: 280%;
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1) center center;
      -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1) center center;
          transform: translate(-50%, -50%) rotate(0deg) scale(1) center center;
  background-image: url(./Assets/gradient-square.jpg);
  background-size: cover;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotateBadgeFooter 10s linear infinite;
          animation: rotateBadgeFooter 10s linear infinite;
}
@-webkit-keyframes rotateBadgeFooter {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotateBadgeFooter {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.gradient-block-content {
  position: relative;
  width: 100%;
  height: 80%;
}
.overlay-gradient::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.row.split {
  text-align: left;
}
.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.row.split .flex-col {
  width: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.row.split .card {
  width: 100%;
  position: relative;
  border-radius: calc(1.75em * 1);
  overflow: hidden;
}
.row.split .card::before {
  content: "";
  padding-top: 66.666%;
  display: block;
}
.card.video-not-empty .image-overlay {
  -webkit-transform: scale(1) rotate(0.001deg);
      -ms-transform: scale(1) rotate(0.001deg);
          transform: scale(1) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.card:hover .image-overlay {
  -webkit-transform: scale(1.1) rotate(-3.001deg);
      -ms-transform: scale(1.1) rotate(-3.001deg);
          transform: scale(1.1) rotate(-3.001deg);
  border-radius: calc(1.75em * 1);
}
.card .play-pause-overlay {
  border-radius: calc(1.75em * 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.card :hover .dark-overlay {
  border-radius: calc(0.75em * 1);
  background-color: rgba(0, 0, 0, 0.368);
  -webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
  -o-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
  transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}
.btn-fill::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.btn-play .btn-click {
  height: 6em;
  width: 6em;
  border-radius: 2em;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transform: translateZ(0) rotate(0.001deg);
          transform: translateZ(0) rotate(0.001deg);
  border: 3px solid black;
  font-size: 1em;
  position: relative;
}
.btn-text img {
  width: 1.5em;
}
.btn-fill {
  background-color: #1e1e1e;
  position: absolute;
  width: 110%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
      -ms-transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
          transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  border: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card:hover .btn-fill {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
      -ms-transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
          transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}
.btn-fill i {
  font-size: 2.5em;
  color: #fff;
}

.btn {
  position: relative;
  border: 0;
  outline: 0;
}

.content {
  color: #f4ede4;
}
.content h5 {
  font-size: 1.5em;
  font-family: Brice-regular;
  margin-top: 0.9em;
}
.content h2 {
  font-size: 4em;
  line-height: 1;
  letter-spacing: 1.4px;
  font-family: Brice-SemiBold;
  text-transform: uppercase;
  margin-top: 0.5em;
}
.content p {
  font-size: 1.5em;
  line-height: 1.5;
  font-family: Poppin-regular;
  margin-top: 0.9em;
}
.click-btn {
  position: relative;
  height: 3em;
  background-color: #fff;
  border: 3px solid #1e1e1e;
  border-radius: 15px;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Brice-bold;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  color: rgb(30, 30, 30);
}
.deco-none a {
  text-decoration: none;
}
.more {
  width: 15vw;
}
.btn-fill {
  background-color: rgb(30, 30, 30);
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(deg);
      -ms-transform: translate(-50%, -50%) scale(0) rotate(deg);
          transform: translate(-50%, -50%) scale(0) rotate(deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  border-radius: 50%;
}
.click-btn:hover .btn-fill {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(00.001deg);
      -ms-transform: translate(-50%, -50%) scale(1) rotate(00.001deg);
          transform: translate(-50%, -50%) scale(1) rotate(00.001deg);
}
.click-btn:hover .btn-text {
  color: #fff;
  z-index: 999;
}
.reverse {
  background-color: rgb(30, 30, 30);
  color: #fff;
}

.reverse:hover .btn-text {
  color: #1e1e1e;
  z-index: 999;
}
.reverse:hover .wht-btn {
  background-color: #ffff;
}

.gradient-video .row.split .flex-col:nth-child(2) {
  padding: 0 0 0 calc(9em * 0.66);
}

.goal-section {
  width: 100vw;
  height: 100vh;
  background-color: rgb(242, 235, 226);
}
.goal-img-cntr .row {
  position: relative;
  padding-top: 4em;
}
.flex-col .btn-row {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.9em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-normal {
  margin-right: 1em;
}
.dtn.outline {
  border: 0;
  background-color: transparent;
}
.donation a {
  text-decoration: none;
  color: #1e1e1e;
}

.small-container {
  width: 50vw;
  margin: 0 auto;
  font-family: Brice-bold;
  font-size: 3.7vw;
  color: rgb(30, 30, 30);
  line-height: 1;
  text-align: center;
}

.goal-img-cntr {
  width: 90vw;
  margin: 0 auto;
  color: rgb(30, 30, 30);
}

.goal-img-cntr .row .single-usp .icon img {
  width: 10em;
  padding-bottom: 0.5em;
}
.single-usp {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  color: rgb(30, 30, 30);
  padding-top: 5em;
}
.single-usp h2 {
  font-weight: 400;
  font-family: Brice-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.025em;
  font-size: 3.2em;
  -webkit-transform: translateY(5%);
      -ms-transform: translateY(5%);
          transform: translateY(5%);
}
.single-usp .number {
  font-weight: 400;
}
.single-usp .after sub {
  font-size: 1.1em;
}
.row .single-usp h2 .after.small {
  font-size: 0.4em;
}
.single-usp h5 {
  font-family: Brice-regular;
  font-size: 1.5em;
}

.dtn {
  width: 15em;
  font-size: 1.8em;
}

/* brands section---- */
.section-brands {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2ebe2;
}
.brands-cntr {
  position: relative;
  width: 100%;
  height: 60%;
  top: 15%;
  padding-left: 10em;
  padding-right: 10em;
}
.brands-cntr .row {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.single-brand-item {
  position: relative;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-brand-item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 40px;
}
.single-brand-item .inner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;
  -webkit-transition: all .4s cubic-bezier(.7, 0, .3, 1);
  -o-transition: all .4s cubic-bezier(.7, 0, .3, 1);
  transition: all .4s cubic-bezier(.7, 0, .3, 1);
}
.single-brand-item .card {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(30, 30, 30, 0.311);
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}

.single-brand-item a:hover .card {
  height: 80%;
}
.single-brand-item .card .image-overlay {
  border-radius: calc(0.75em * 0.66);
  -webkit-transform: scale(1) rotate(0.001deg);
      -ms-transform: scale(1) rotate(0.001deg);
          transform: scale(1) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.single-brand-item .card .dark-overlay {
  background-color: rgb(30, 30, 30);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.single-brand-item .card .dark-overlay {
  border-radius: calc(0.75em * 1);
  background-color: rgb(30, 30, 30);
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}
a:hover .card .image-overlay {
  -webkit-transform: scale(1.03) rotate(-1.001deg);
      -ms-transform: scale(1.03) rotate(-1.001deg);
          transform: scale(1.03) rotate(-1.001deg);
}
a:hover .card .dark-overlay {
  opacity: 0.5;
}
.card .brnd-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card .brnd-img img {
  width: 25%;
  position: absolute;
}
.card .sandals img {
  width: 35%;
}
.single-brand-item .btn-row {
  height: 0em;
  bottom: 0%;
  width: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.single-brand-item .btn-row .btn {
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
}
a:hover .btn-row {
  height: 5em;
  bottom: 1%;
}

/* news-grid-section---- */

.news-grid {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2ebe2;
}
.news-cntr {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.news-grid .title {
  position: relative;
  width: 80%;
  font-family: Brice-bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-col .big {
  font-size: 4vw;
  text-transform: uppercase;
}
.news-grid .title:nth-child(1) .flex-col:nth-child(1) {
  width: 50%;
}
.news-grid .title:nth-child(1) .flex-col:nth-child(2) {
  width: 50%;
  text-align: right;
}
.custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.news-grid .circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
}
.news-grid .circle i {
  font-size: 1em;
  font-weight: 900;
}
.btn.btn-arrow.prev {
  margin-right: 1em;
}

/* //swipper slide---- */
.slider-news-grid .flickity-carousel {
  display: block;
}
.swiper {
  width: 100%;
  height: 75%;
}
.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 1%;
}
.swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-slide {
  position: relative;
  height: 765px;
  width: 33.3333%;
  margin-right: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carousel-content {
  height: 100%;
  overflow: hidden;
}
.carousel-content a {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  text-decoration: none;
}
.carousel-content .inner-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4em;
}
a {
  text-decoration: none;
}
.carousel-content .card {
  width: 100%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  z-index: 9;
}
.carousel-content .card::before {
  content: "";
  padding-top: 66.666%;
  display: block;
}
.carousel-content .card .image-overlay {
  border-radius: 30px;
  -webkit-transform: scale(1.01) rotate(0.001deg);
      -ms-transform: scale(1.01) rotate(0.001deg);
          transform: scale(1.01) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.card .image-overlay {
  -webkit-transform: scale(1.01) rotate(0.001deg);
      -ms-transform: scale(1.01) rotate(0.001deg);
          transform: scale(1.01) rotate(0.001deg);
  border-radius: 30px;
}
.carousel-content .text {
  position: relative;
  width: 100%;
  padding-left: 1px;
}

.carousel-content a:hover .inner-text {
  -webkit-transform: translateY(-6em);
      -ms-transform: translateY(-6em);
          transform: translateY(-6em);
}
.carousel-content .inner-text {
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  padding-bottom: 0.5em;
}
.carousel-content .text .date-badge {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 3em;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  background-color: #f2ebe2;
  margin-bottom: 2em;
  padding: 0em 1.75em;
}
.carousel-content .text .date-badge h5 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(30, 30, 30);
  font-family: Brice-semibold;
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}
.carousel-content .text h3 {
  font-family: Brice-bold;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin-bottom: 0;
  min-height: 4.5em;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  -webkit-transform: translateY(5%);
      -ms-transform: translateY(5%);
          transform: translateY(5%);
}
.carousel-content .text p {
  font-family: Poppin-regular;
  font-weight: 400;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin-bottom: 0;
  min-height: 4.5em;
  color: #1e1e1e;
  font-size: 1.5em;
  line-height: 1.5;
}
.carousel-content .btn-row {
  height: 0em;
  bottom: 0%;
  width: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateY(6em);
      -ms-transform: translateY(6em);
          transform: translateY(6em);
}
.news-grid .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-prefooter {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2ebe2;
  margin-top: 5%;
}
.section-prefooter .theme-dark {
  background-color: rgb(30, 30, 30);
}
.section-prefooter .overlay-wrapper {
  border-radius: calc(0.75em * 3) calc(0.75em * 3) 0 0;
}
.section-prefooter .image-overlay-wrapper {
  overflow: hidden;
}
.section-prefooter .image-overlay {
  height: calc(100% + 10vh);
}
.section-prefooter .dark-overlay {
  background-color: rgba(0, 0, 0, 0.433);
}
.allcontainer {
  width: 100em;
  margin: 0 auto;
  padding-left: 10em;
  padding-right: 10em;
  position: relative;
  top: 15%;
}
.theme-dark h2 {
  color: #f4ede4;
}
.theme-dark p {
  color: #f4ede4;
}
.section-prefooter h2 {
  font-family: Brice-semibold;
  /* font-size: 3.5em; */
  text-align: center;
  line-height: 1;
  margin-bottom: 0.5em;
}
.section-prefooter p {
  font-size: 1.6em;
  line-height: 1.5;
  font-family: Poppin-regular;
  text-align: center;
}
.section {
  display: block;
  padding-top: 0em;
  padding-bottom: 0em;
  position: relative;
}
.section-footer-cards {
  background-color: rgb(30, 30, 30);
  border-radius: 0 0 calc(0.75em * 3) calc(0.75em * 3);
  padding-bottom: 15em;
  padding-top: 0;
}
.section.theme-dark + .section.theme-dark {
  margin-top: -20%;
}
.section.section-footer.theme-light-1 {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-1 {
  width: 100%;
  margin: 0 auto;
  padding-left: 10em;
  padding-right: 10em;
  position: relative;
}
.single-footercard-item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-footercard-item .inner-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-footercard-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2ebe2;
  border-radius: 30px;
  padding: calc(5.75em * 0.66);
}
.single-footercard-item .text {
  position: relative;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 55%;
}
.single-footercard-item .text h3 {
  width: 100%;
  text-align: left;
  margin-bottom: 0.5em;
  color: rgb(30, 30, 30);
  font-family: Brice-semibold;
  font-size: 2.4em;
  text-transform: uppercase;
}
.single-footercard-item .text p {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5em;
  color: rgb(30, 30, 30);
  font-family: Poppin-regular;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1.5em;
}
.single-footercard-item .card {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-footercard-item .card::before {
  content: "";
  padding-top: unset;
  display: block;
}
.single-footercard-item .card .image-overlay {
  border-radius: 30px;
  -webkit-transform: scale(1.03) rotate(0.001deg);
      -ms-transform: scale(1.03) rotate(0.001deg);
          transform: scale(1.03) rotate(0.001deg);
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.section-footer-cards .container-1:nth-child(1) .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5em;
}
.container-1 .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-1 .row .flex-col h2 {
  font-family: Brice-bold;
  font-size: 5em;
  text-transform: uppercase;
}

.container-1 .row .flex-col .initiated h5 {
  color: #f2ebe2;
  font-size: 2em;
  margin-right: 1em;
}

.container-1 .row .flex-col .initiated img {
  width: 35%;
}
.section.section-footer-cards .ani {
  -webkit-transform: translateY(00px);
      -ms-transform: translateY(00px);
          transform: translateY(00px);
}
.section.section-footer-cards .ani .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.section.section-footer .ani .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section.section-footer .ani .row img {
  width: 20%;
}
.section.section-footer .ani .row .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.tdn {
  width: 10em;
  font-size: 1.2em;
}
